resource "signalfx_list_chart" "{{ terraformName }}" {
    name                = "{{ name }}"
    {% if description != "" %}
    description         = "{{ description }}"
    {% endif %}
    {% if options.colorBy != "" %}
    color_by            = "{{ options.colorBy }}"
    {% endif %}
    max_precision       = {{ options.maximumPrecision }}
    {% if options.programOptions and options.programOptions.disableSampling %}
    disable_sampling    = {{ options.programOptions.disableSampling }}
    {% endif %}
    {% if refreshInterval %}
    refresh_interval    = {{ refreshInterval }}
    {% endif %}
    {% if options.programOptions and options.programOptions.maxDelay %}
    max_delay           = {{ options.programOptions.maxDelay }}
    {% endif %}
    {% if options.unitPrefix %}
    unit_prefix         = "{{ options.unitPrefix }}"
    {% endif %}
    {% if options.secondaryVisualization != "" %}
    secondary_visualization = "{{ options.secondaryVisualization }}"
    {% endif %}

    {% if options.legendOptions and options.legendOptions.fields and options.legendOptions.fields | length > 0 %}
    legend_fields_to_hide = [
    {% for field in options.legendOptions.fields %}
      {% if field.enabled %}
      "{{ field.property }}",
      {% endif %}
    {% endfor %}
    ]
    {% endif %}


    program_text = <<-EOF
{{ programText }}
    EOF
}
