resource "signalfx_single_value_chart" "{{ terraformName }}" {
    name                = "{{ name }}"
    {% if description != "" %}
    description         = "{{ description }}"
    {% endif %}
    {% if options.colorBy != "" %}
    color_by            = "{{ options.colorBy }}"
    {% endif %}
    {% if options.colorScale2 and options.colorScale2 | length > 0 %}
    color_scale         = [
    {% for scale in options.colorScale2 %}
        {% if scale.gt %}
        { gt = {{ scale.gt }}, color = "{{ resolve_color(scale.paletteIndex) }}" }
        {% endif %}
        {% if scale.gte %}
        { gte = {{ scale.gte }}, color = "{{ resolve_color(scale.paletteIndex) }}" }
        {% endif %}
        {% if scale.lt %}
        { lt = {{ scale.lt }}, color = "{{ resolve_color(scale.paletteIndex) }}" }
        {% endif %}
        {% if scale.lte %}
        { lte = {{ scale.lte }}, color = "{{ resolve_color(scale.paletteIndex) }}" }
        {% endif %}
    {% endfor %}
    ]
    {% endif %}
    max_precision       = {{ options.maximumPrecision }}
    {% if options.programOptions and options.programOptions.maxDelay %}
    max_delay           = {{ options.programOptions.maxDelay }}
    {% endif %}
    is_timestamp_hidden = {{ options.timestampHidden }}
    {% if refreshInterval %}
    refresh_interval    = {{ refreshInterval }}
    {% endif %}
    show_spark_line     = {{ options.showSparkLine }}
    {% if options.unitPrefix %}
    unit_prefix         = "{{ options.unitPrefix }}"
    {% endif %}
    {% if options.secondaryVisualization != "" %}
    secondary_visualization = "{{ options.secondaryVisualization }}"
    {% endif %}

    program_text = <<-EOF
{{ programText }}
    EOF
}
